Options -Indexes
RewriteEngine On

RewriteCond %{HTTP_HOST} ^(?:www\.)?northwestmeds\.co\.uk$ [NC]
RewriteCond %{HTTPS} !=on [OR]
RewriteCond %{HTTP_HOST} !^www\.northwestmeds\.co\.uk$ [NC]
RewriteRule ^ https://www.northwestmeds.co.uk%{REQUEST_URI} [R=301,L,NE]

Redirect 301 /search https://www.northwestmeds.co.uk/
Redirect 301 /user/profile https://www.northwestmeds.co.uk/
Redirect 301 /service-area https://www.northwestmeds.co.uk/
Redirect 301 /service-area/online-pharmacy-manchester https://www.northwestmeds.co.uk/service-area/reliable-online-pharmacy-in-manchester.html
Redirect 301 /service-area/online-pharmacy-in-chester https://www.northwestmeds.co.uk/service-area/genuine-online-dispensary-in-chester.html
Redirect 301 /service-area/reliable-online-pharmacy-in-carlisle https://www.northwestmeds.co.uk/service-area/best-online-drugstore-in-carlisle.html
Redirect 301 /service-area/trusted-online-pharmacy-in-southport https://www.northwestmeds.co.uk/service-area/best-online-drugstore-in-southport.html
Redirect 301 /service-area/reliable-online-dispensary-in-warrington https://www.northwestmeds.co.uk/service-area/best-online-drugstore-in-warrington.html
Redirect 301 /anxiety-medicines-in-the-united-kingdom https://www.northwestmeds.co.uk/landing-page/anxiety-medicines-in-the-united-kingdom.html
Redirect 301 /sleeping-pills-in-the-united-kingdom https://www.northwestmeds.co.uk/landing-page/sleeping-pills-in-the-united-kingdom.html
Redirect 301 /shop/diazepam-sedil-5mg https://www.northwestmeds.co.uk/shop/medicine/sedil-diazepam-5-mg.html
Redirect 301 /shop/diazepam-martin-dows-10mg https://www.northwestmeds.co.uk/shop/medicine/diazepam-martin-dows-10mg.html
Redirect 301 /shop/diazepam-easium-10mg https://www.northwestmeds.co.uk/shop/medicine/easium-diazepam-10mg.html
Redirect 301 /shop/alprazolam-alprax-2-mg https://www.northwestmeds.co.uk/shop/medicine/alprax-alprazolam-2-mg.html
Redirect 301 /shop/alprazolam-rlam-1mg https://www.northwestmeds.co.uk/shop/medicine/rlam-alprazolam-1-mg.html
Redirect 301 /shop/alprazolam-alprax-1-mg https://www.northwestmeds.co.uk/shop/medicine/alprazolam-alprax-1-mg.html
Redirect 301 /shop/nitrazepam-noctin-5mg https://www.northwestmeds.co.uk/shop/medicine/nitrazepam-noctin-5-mg.html
Redirect 301 /shop/midazolam-midolam75-mg https://www.northwestmeds.co.uk/shop/medicine/midolam-midazolam-7-5-mg.html
Redirect 301 /shop/clonazepam-rivotril-2-mg https://www.northwestmeds.co.uk/shop/medicine/rivotril-clonazepam-2mg.html
Redirect 301 /shop/pregacare-nt-pregabalin https://www.northwestmeds.co.uk/shop/medicine/pregabalin-pregacare-nt-n.html
Redirect 301 /shop/ativan-lorazepam-2-mg https://www.northwestmeds.co.uk/shop/medicine/lorazepam-ativan-2-mg-n.html
Redirect 301 /shop/zopiclone-7-5mg https://www.northwestmeds.co.uk/shop/medicine/zopiclone.html
Redirect 301 /shop/modafinil https://www.northwestmeds.co.uk/shop/medicine/modafinil.html
Redirect 301 /shop/bromazepam https://www.northwestmeds.co.uk/shop/medicine/bromazepam.html
Redirect 301 /blog/how-to-safely-order-prescription-medicines-online-in-the-uk https://www.northwestmeds.co.uk/blog/post/how-to-safely-purchase-prescription-medicines-online-in-the-uk.html
Redirect 301 /blog/why-cant-i-sleep https://www.northwestmeds.co.uk/blog/post/why-can-t-i-sleep.html
Redirect 301 /blog/signs-of-adhd-in-adults https://www.northwestmeds.co.uk/blog/post/signs-of-adhd-in-adults-northwestmeds.html
Redirect 301 /blog/neuropathy-causes-symptoms-treatment https://www.northwestmeds.co.uk/blog/post/what-is-neuropathy-causes-symptoms-treatment-options.html
Redirect 301 /blog/panic-attack-symptoms-treatment https://www.northwestmeds.co.uk/blog/post/panic-attack-causes-symptoms-treatment.html
Redirect 301 /blog/buy-medication-without-prescription-in-united-kingdom https://www.northwestmeds.co.uk/blog/post/buy-medication-without-prescription-in-united-kingdom.html
Redirect 301 /blog/nhs-gphc-laws-uk-online-pharmacy https://www.northwestmeds.co.uk/blog/post/nhs-gphc-law-for-online-pharmacy-in-the-uk-northwestmeds.html
Redirect 301 /blog/post/buy-medication-without-prescription-in-united-kingdom https://www.northwestmeds.co.uk/blog/post/buy-medication-without-prescription-in-united-kingdom.html
Redirect 301 /blog/post/how-to-identify-genuine-medicines-and-avoid-counterfeit-drugs-in-the-uk https://www.northwestmeds.co.uk/blog/post/how-to-identify-genuine-medicines-and-avoid-counterfeit-drugs-in-the-uk.html
Redirect 301 /blog/post/how-to-safely-purchase-prescription-medicines-online-in-the-uk https://www.northwestmeds.co.uk/blog/post/how-to-safely-purchase-prescription-medicines-online-in-the-uk.html
Redirect 301 /blog/post/nhs-gphc-law-for-online-pharmacy-in-the-uk-northwestmeds https://www.northwestmeds.co.uk/blog/post/nhs-gphc-law-for-online-pharmacy-in-the-uk-northwestmeds.html
Redirect 301 /blog/post/panic-attack-causes-symptoms-treatment https://www.northwestmeds.co.uk/blog/post/panic-attack-causes-symptoms-treatment.html
Redirect 301 /blog/post/signs-of-adhd-in-adults-northwestmeds https://www.northwestmeds.co.uk/blog/post/signs-of-adhd-in-adults-northwestmeds.html
Redirect 301 /blog/post/uk-guide-to-prescription-pain-relief-medication https://www.northwestmeds.co.uk/blog/post/uk-guide-to-prescription-pain-relief-medication.html
Redirect 301 /blog/post/understanding-anxiety-and-sleep-medications-an-uk-patient-guide-for-blm https://www.northwestmeds.co.uk/blog/post/understanding-anxiety-and-sleep-medications-an-uk-patient-guide-for-blm.html
Redirect 301 /blog/post/what-is-neuropathy-causes-symptoms-treatment-options https://www.northwestmeds.co.uk/blog/post/what-is-neuropathy-causes-symptoms-treatment-options.html
Redirect 301 /blog/post/why-can-t-i-sleep https://www.northwestmeds.co.uk/blog/post/why-can-t-i-sleep.html
Redirect 301 /landing-page/anxiety-medicines-in-the-united-kingdom https://www.northwestmeds.co.uk/landing-page/anxiety-medicines-in-the-united-kingdom.html
Redirect 301 /landing-page/sleeping-pills-in-the-united-kingdom https://www.northwestmeds.co.uk/landing-page/sleeping-pills-in-the-united-kingdom.html
Redirect 301 /service-area/best-online-drugshop-in-preston https://www.northwestmeds.co.uk/service-area/best-online-drugshop-in-preston.html
Redirect 301 /service-area/best-online-drugstore-in-bolton https://www.northwestmeds.co.uk/service-area/best-online-drugstore-in-bolton.html
Redirect 301 /service-area/best-online-drugstore-in-carlisle https://www.northwestmeds.co.uk/service-area/best-online-drugstore-in-carlisle.html
Redirect 301 /service-area/best-online-drugstore-in-southport https://www.northwestmeds.co.uk/service-area/best-online-drugstore-in-southport.html
Redirect 301 /service-area/best-online-drugstore-in-warrington https://www.northwestmeds.co.uk/service-area/best-online-drugstore-in-warrington.html
Redirect 301 /service-area/genuine-online-dispensary-in-chester https://www.northwestmeds.co.uk/service-area/genuine-online-dispensary-in-chester.html
Redirect 301 /service-area/reliable-online-pharmacy-in-lancaster https://www.northwestmeds.co.uk/service-area/reliable-online-pharmacy-in-lancaster.html
Redirect 301 /service-area/reliable-online-pharmacy-in-manchester https://www.northwestmeds.co.uk/service-area/reliable-online-pharmacy-in-manchester.html
Redirect 301 /service-area/safe-online-drugstore-in-blackpool https://www.northwestmeds.co.uk/service-area/safe-online-drugstore-in-blackpool.html
Redirect 301 /service-area/trusted-online-pharmacy-in-liverpool https://www.northwestmeds.co.uk/service-area/trusted-online-pharmacy-in-liverpool.html
Redirect 301 /service-area/trusted-online-pharmacy-in-salford https://www.northwestmeds.co.uk/service-area/trusted-online-pharmacy-in-salford.html
Redirect 301 /shop/medicine/alprax-alprazolam-2-mg https://www.northwestmeds.co.uk/shop/medicine/alprax-alprazolam-2-mg.html
Redirect 301 /shop/medicine/alprazolam-alprax-1-mg https://www.northwestmeds.co.uk/shop/medicine/alprazolam-alprax-1-mg.html
Redirect 301 /shop/medicine/bromazepam https://www.northwestmeds.co.uk/shop/medicine/bromazepam.html
Redirect 301 /shop/medicine/diazepam-martin-dows-10mg https://www.northwestmeds.co.uk/shop/medicine/diazepam-martin-dows-10mg.html
Redirect 301 /shop/medicine/easium-diazepam-10mg https://www.northwestmeds.co.uk/shop/medicine/easium-diazepam-10mg.html
Redirect 301 /shop/medicine/lorazepam-ativan-2-mg-n https://www.northwestmeds.co.uk/shop/medicine/lorazepam-ativan-2-mg-n.html
Redirect 301 /shop/medicine/midolam-midazolam-7-5-mg https://www.northwestmeds.co.uk/shop/medicine/midolam-midazolam-7-5-mg.html
Redirect 301 /shop/medicine/modafinil https://www.northwestmeds.co.uk/shop/medicine/modafinil.html
Redirect 301 /shop/medicine/nitrazepam-noctin-5-mg https://www.northwestmeds.co.uk/shop/medicine/nitrazepam-noctin-5-mg.html
Redirect 301 /shop/medicine/pase-clonazepam-2mg https://www.northwestmeds.co.uk/shop/medicine/pase-clonazepam-2mg.html
Redirect 301 /shop/medicine/pregabalin-pregacare-nt-n https://www.northwestmeds.co.uk/shop/medicine/pregabalin-pregacare-nt-n.html
Redirect 301 /shop/medicine/rivotril-clonazepam-2mg https://www.northwestmeds.co.uk/shop/medicine/rivotril-clonazepam-2mg.html
Redirect 301 /shop/medicine/rlam-alprazolam-1-mg https://www.northwestmeds.co.uk/shop/medicine/rlam-alprazolam-1-mg.html
Redirect 301 /shop/medicine/sedil-diazepam-5-mg https://www.northwestmeds.co.uk/shop/medicine/sedil-diazepam-5-mg.html
Redirect 301 /shop/medicine/zopiclone https://www.northwestmeds.co.uk/shop/medicine/zopiclone.html
RedirectMatch 301 ^/shop/(midazolam-hypnofast-7\.5mg|pregabalin-neurabalin-75mg|nervasin-pregabalin|royal-tapentadol-225mg|aspa-tapentadol-200mg|nerodalam-lorazepam|etizolam|temazepam|co-codamol-500mg)/?$ https://www.northwestmeds.co.uk/shop/
RedirectMatch 301 ^/shop/category/.*$ https://www.northwestmeds.co.uk/shop/
